<h3>Welcome to Game: {{lobby.name}}</h3>
<p>Players currently in lobby:</p>
<ul class="waitingList">
    {{#each players}}
        <li class="waiting">{{this}}</li>
    {{/each}}
</ul>
<input type="button" class="startGame" value="I'm Ready!!">
<p id="waitingMsg">Waiting...</p>